<!DOCTYPE html >
<html lang="en" dir="rtl">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->
  <!--<link href='http://awebfont.ir/css?id=1554&mode=wl' rel='stylesheet' type='text/css'>-->
  
  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/star-rating.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet">
   {% block extra_css  %}
   {% endblock %}

  <script src="{{ STATIC_URL }}js/jquery-1.11.1.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-hover-dropdown.js"></script>
  <script src="{{ STATIC_URL }}js/star-rating.js"></script>
   {% block extra_js  %}
   {% endblock %}

</head>

<body>
  <form id="cat-submit" action="/shop/products/" method="get" hidden>
      <input id="cat-id" name="cat-id" value ="{{ cat_id }}" type="hidden">
  </form>

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><a href="/shop/"><i class="fa fa-home fa-fw"></i></a></li>

          <li><a href="/shop/profile"><i class="fa fa-user fa-fw"></i></a>
          {% ifequal user.status 'CU' %}
          <li><a data-hover="dropdown" href="/shop/billing/"><i class="fa fa-shopping-cart"></i>  خرید  </a>
            <ul class="dropdown-menu" id="cart" style="min-width: 450%;">

                <ol class="breadcrumb" style="margin: 3px; border: 1px solid #202d3b">
                        <li class="active"></li>مجموع قیمت<span dir="rtl" style="float: left"><span id="price">0</span> تومان</span>
                </ol>
            </ul>
          </li>
          {% endifequal %}
        </ul>
        <ul class="nav navbar-nav navbar-left">
          <li><a onclick="searchs()"><i class="fa fa-search fa-lg"></i></a></li>
          {% if not user.is_anonymous %}
              <li><a id="logout" href="/shop/logout/">
                  خروج
              </a>
              </li>
          {% else %}
              <li><a href="/shop/login/">
                  ورود
              </a>
              </li>
          {% endif %}
        </ul>
        <form id="search" onkeypress="return event.keyCode != 13;" class="navbar-form navbar-left"action="/shop/products/" method="get">
          <input id="query" style="height:36px; margin-top:4px;"name="query" value="{{ query }}" type="text" class="form-control" placeholder="جستجو...">
        </form>

      </div>

    </div>

  </div>
  <div id="done" class="info" hidden>
          <div style="color: #7ACC86">
            <i class="fa fa-check-circle"></i>
        صفحه بارگذاری شد...
          </div>
      </div>
      <div id="loading" class="info" hidden>
          <div style="color: #a0a0a0">
            <i class="fa fa-cog fa-spin"></i>
              در حال پردازش...
          </div>
      </div>
      <div id="error" class="info" hidden>
          <div style=" color: #FF8484">
            <i class="fa fa-times-circle"></i>
متأسفیم! دوباره تلاش کنید...
          </div>
      </div>

  <div class="container main-container">
      <div class="row">
          <div class="logo-wrapper"><img src="{{ STATIC_URL }}images/logo2.png" height="100px" width="448px"/> </div>
      </div>
      <div class="row">
        <div class=col-lg-12>

          <ul class="nav nav-pills nav-justified cat-nav">
            {% for cat in categories %}
                {% ifequal cat.sup_cat null %}
                    <li style="position: inherit"><a data-hover="dropdown" onclick="f({{ cat.id }})"><i class="fa fa-angle-left"></i> {{ cat.name }}</a>
                        <ul class="dropdown-menu cat-list fade">
                            <ul class="nav nav-pills">
                                {% for sub_cat in cat.category_set.all%}
                                    <li class="sub-cat"><a onclick="f({{ sub_cat.id }})">{{ sub_cat.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </ul>
                    </li>
                {% endifequal %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="container sub-container"> <!--uncommon parts!-->
        {% block content %}
        {% endblock%}
    </div>
    <div id="cart-prod-sample" style="display: none">
        <ol class="breadcrumb" style="margin: 3px;" data-pid="dard">
            <a  class="active"></a><a class="close"> &times;</a>
        </ol>
    </div>
    {% ifequal user.status 'CU' %}
    <script src="{{ STATIC_URL }}js/newcart.js"></script>
    {% endifequal %}

    <script src="{{ STATIC_URL }}js/base.js"></script>
    {% block bottom %}
    {% endblock %}
  </body>
  </html>
