{% extends "base.html" %}
{% block extra_css  %}
{% endblock %}
{% block extra_js  %}
{% endblock %}
{% block title %}
{% endblock %}
{% block content %}

            {% if buy %}
                <div class="row">
                <div class="col-lg-12">
                    {% if shortage %}
                    <div class="panel panel-danger">
                      <!-- Default panel contents -->
                      <div class="panel-heading">

                        <i class="fa fa-exclamation"></i>
متأسفانه در موارد زیر موجودی انبار کافی نیست.
                      </div>
                      <!-- Table -->
                      <table class="table">
                          <thead><tr><th>نام محصول</th><th>تعداد</th></tr></thead>
                      <tbody>
                          {% for s in shortages %}
                          <tr><td>{{ s.prod }}</td><td>{{ s.num }}</td></tr>
                          {% endfor %}
                      </tbody>
                      </table>
                    </div>
                    {% elif not empty_buy %}
                        <div class="alert alert-success">
                            <i class="fa fa-check"></i>
                    سفارش با موفقیت انجام شد.
                        </div>
                    {% else %}

                        <div class="alert alert-danger">
                            <i class="fa fa-exclamation"></i>
                     سبد خرید خالی است.
                        </div>
                    {% endif %}
                </div>
                </div>
            {% endif %}
    <div class="row">

      <div class="col-lg-7 col-lg-offset-1">

        <div class="panel panel-primary" style="min-height: 381px;">
          <div class="panel-body">
            <div class="well">
              <h1> محصولات</h1>
            </div>
            <div id="billing-prod-list">

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-body" style="text-align: center">
            <h1><i class="fa fa-shopping-cart fa-5x"></i></h1>
            <div class="well">
                <span> قابل پرداخت : </span><span class="tot-price">{{ sum|floatformat:0 }}</span><span> تومان</span>
            </div>
            <button type="button" class="btn btn-primary btn-block" onclick="location.href='/shop/payment/';" >
سفارش
            </button>
          </div>
        </div>

      </div>
    </div>
{% endblock %}
{% block bottom %}
    <script>
    </script>

{% endblock %}