{% extends "base.html" %}
{% block extra_css  %}
    <link href="{{ STATIC_URL }}css/customer_profile.css" rel="stylesheet">
{% endblock %}
{% block extra_js  %}
    <script src="{{ STATIC_URL }}js/customer_profile.js"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-3 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">{{ user.name }}</h3></div>
                <div class="panel-body">
                    <div>
                        <img src="{{ STATIC_URL }}images/default.png" class="img-thumbnail" id="userImg" width="300px" height="300px">
                    </div>
                    <ul class="nav nav-pills nav-stacked" >
                        <li class="active"><a data-toggle="tab" href="#details">مشخصات کاربر </a></li>
                        <li><a data-toggle="tab" href="#edit-details">ویرایش مشخصات</a></li>
                        <li><a data-toggle="tab" href="#change-password">تغییر رمز عبور</a></li>
                        <li><a data-toggle="tab" href="#transactions">مشاهده تراکنش ها</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel-group" id="accordion">
                <div class="tab-content">
                    <div id="details" class="tab-pane fade active in">
                        <div class="panel panel-primary" style="min-height: 472px;">
                            <div class="panel-heading"><h3 class="panel-title">مشخصات کاربر</h3></div>
                            <div class="panel-body">
                                <div class="row detail-row">
                                    <div class="col-lg-2 field-label">نام کاربری</div>
                                    <div class="col-lg-8 field-value" id="user_username">{{ user.username }}</div>
                                </div>
                                <div class="row detail-row">
                                    <div class="col-lg-2 field-label">نام</div>
                                    <div class="col-lg-8 field-value" id="user_name">{{ user.name }}</div>
                                </div>
                                <div class="row detail-row">
                                    <div class="col-lg-2 field-label">رایانامه</div>
                                    <div class="col-lg-8 field-value" id="user_email">{{ user.email }}</div>
                                </div>
                                <div class="row detail-row">
                                    <div class="col-lg-2 field-label">تلفن</div>
                                    <div class="col-lg-8 field-value" id="user_tel">{{ user.tel }}</div>
                                </div>
                                <div class="row detail-row">
                                    <div class="col-lg-2 field-label">آدرس</div>
                                    <div class="col-lg-8 field-value" id="user_address">{{ user.address }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="edit-details" class="tab-pane fade">
                        <div class="panel panel-primary" style="min-height: 472px;">
                            <div class="panel-heading"><h3 class="panel-title">ویرایش مشخصات</h3></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1" id="profile_message">
                                    </div>
                                </div>
                                <form id="profile_form" action="/shop/edit/profile/" method="post">
                                    {% csrf_token %}
                                    {% for field in info_edit_form %}
                                        <div id="{{ field.name }}"class="row edit-row">
                                            <div class="col-lg-3 col-lg-offset-1"></div>
                                            <div class="col-lg-7 error-list">{{ field.errors }}</div>
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-3 col-lg-offset-1">{{ field.label_tag }}</div>
                                            <div class="col-lg-7 edit-field">{{ field }}</div>
                                            <div class="col-lg-1"></div>
                                        </div>
                                    {% endfor %}
                                </form>
                                <div class="row edit-buttons">
                                    <div class="col-lg-5 col-lg-offset-1"><button onclick="edit_profile()" class="btn btn-primary btn-block">بفرست</button></div>
                                    <div class="col-lg-5"><button onclick="get_user_info(1)" class="btn btn-default btn-block">شروع مجدد</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="change-password" class="tab-pane fade">
                        <div class="panel panel-primary" style="min-height: 472px;">
                            <div class="panel-heading"><h3 class="panel-title">تغییر رمز عبور</h3></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1" id="password_message">
                                    </div>
                                </div>
                                <form id="password_form" action="/shop/change/password/" method="post">
                                    {% csrf_token %}
                                    {% for field in pass_form %}
                                        <div id="{{ field.name }}" class="row edit-row">
                                            <div class="col-lg-3 col-lg-offset-1"></div>
                                            <div class="col-lg-7 error-list">{{ field.errors }}</div>
                                            <div class="col-lg-3 col-lg-offset-1">{{ field.label_tag }}</div>
                                            <div class="col-lg-7 edit-field">{{ field }}</div>
                                        </div>
                                    {% endfor %}
                                </form>
                                <div class="row edit-buttons">
                                    <div class="col-lg-7 col-lg-offset-4">
                                        <button onclick="change_password()" id="password_changer" class="btn btn-primary btn-block">تغییر رمز عبور</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="transactions" class="tab-pane fade">
                        <div class="panel panel-primary" style="min-height: 472px;">
                            <div class="panel-heading"><h3 class="panel-title">مشاهده تراکنش ها</h3></div>
                            <div class="panel-body">
                                <div class="panel-group" id="bills">
                                    {% ifequal bills.count 0 %}
                                    <div class="well">
                                        شما تراکنشی نداشته اید.

                                    </div>
                                    {% else %}
                                        {% for bill in bills %}
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h4 class="panel-title">
                                              <a data-toggle="collapse" data-parent="#bills" href="#collapse{{ bill.id }}" class="">
                                                {{ bill.time|date}}
                                                  <span>{{ bill }}</span>
                                                  <span class="pull-left">{{ bill.spent }} تومان</span>
                                              </a>
                                            </h4>
                                          </div>
                                          <div id="collapse{{ bill.id }}" class="panel-collapse collapse" style="height: auto;">
                                            <div class="panel-body">
                                                {% for buy in bill.buy_set.all %}
                                                    <ol class="breadcrumb" style="margin: 3px;">
                                                        <a href="/shop/product/{{ buy.product.id }}" >{{ buy.product.name }}</a>
                                                        <div class="pull-left">
                                    قیمت: {{ buy.product.real_value|floatformat:0 }} تومان
                                                        </div>
                                                    </ol>
                                                {% endfor %}
                                            </div>
                                          </div>
                                        </div>
                                        {% endfor %}
                                    {% endifequal %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}