{% extends "base.html" %}
{% block extra_css  %}
    <link href="{{ STATIC_URL }}css/edit_product.css" rel="stylesheet">
{% endblock %}
{% block extra_js  %}
    <script src="{{ STATIC_URL }}js/edit_product.js"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-3 col-lg-offset-1">
            <!-- aks mahsool -->
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title" id="prod-name">{{ product.name }}</h3></div>
                <div class="panel-body">
                    <a href="/shop/product/{{ product.id }}">
                        <img src="{{ product.small_image.url }}" class="img-thumbnail prod-image" style="width: 240px; min-height: 240px;">
                    </a>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">ویرایش مشخصات محصول</h3></div>
                <div class="panel-body">
                    <form enctype="multipart/form-data" action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="hidden" name="id" value="{{ product.id }}"/>
                        <input type="submit" class="btn btn-primary" value="ذخیره"/>
                        <input type="button" class="btn btn-primary" onclick="location.href='/shop/profile/'" value="بازگشت"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}