{% extends "base.html" %}
{% block extra_css  %}
    <link href="{{ STATIC_URL }}css/gm_profile.css" rel="stylesheet">
{% endblock %}
{% block extra_js  %}
    <script src="{{ STATIC_URL }}js/gm_profile.js"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-3 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">پنل مدیریت</h3></div>
                <div class="panel-body">
                    <div>
                        <img src="{{ STATIC_URL }}images/default.png" class="img-thumbnail" id="userImg" width="300px" height="300px">
                    </div>
                    <ul class="nav nav-pills nav-stacked" >
                        <li class="active"><a data-toggle="tab" href="#sell-report">گزارش فروش</a></li>
                        <li><a data-toggle="tab" href="#user-report">گزارش کاربران</a></li>
                        <li><a data-toggle="tab" href="#wh-report">گزارش انبار</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel-group" id="acardion">
                <div class="tab-content">
                    <div id="sell-report" class="tab-pane fade active in">
                        <div class="panel panel-primary" style="min-height:480px">
                            <div class="panel-heading"><h3 class="panel-title">گزارش فروش محصولات</h3></div>
                            <div class="panel-body">
                                <div class="row">
                                    <table class="table overview">
                                        <tr>
                                            <td><h4  class="col-lg-offset-1">میزان فروش کل</h4></td>
                                            <td><h4>{{ total_bought }} تومان</h4></td>
                                        </tr>
                                        <tr>
                                            <td><h4  class="col-lg-offset-1">تعداد کل اقلام فروحته شده</h4></td>
                                            <td><h4>{{ total_ordered }}</h4></td>
                                        </tr>
                                    </table>
                                </div>
                                <ul class="nav nav-pills nav-justified" role="tablist">
                                    <li class="active"><a href="#best-seller" role="tab" data-toggle="tab">پرفروش ترین ها</a></li>
                                    <li><a href="#most-popular" role="tab" data-toggle="tab">پرتقاضا ترین ها</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="best-seller" style="margin-top:10px">
                                        <div class="row">
                                            <h3 class="section-header">سه محصول برتر</h3>
                                            {%  for prod in best_sellers3 %}
                                                <div class="col-lg-4">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-body">
                                                            <a href="/shop/product/{{ prod.pk }}">
                                                            <img class="prod-img" src="{{ prod.small_image.url }}" style="width:100%" width="155px" height="155px">
                                                            </a>
                                                            <a href="/shop/product/{{ prod.pk }}"><h5>{{ prod.name }}</h5></a>
                                                            <table class="table">
                                                                <tr>
                                                                    <td>تراز مالی</td>
                                                                    <td>{{ prod.total_bought }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>امتیاز</td>
                                                                    <td>{{ prod.round_rate }}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="panel-group" id="more-bs">
                                            <div class="panel panel-default see-more">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#more-bs" href="#see-more-bs">باقی محصولات</a>
                                                    </h4>
                                                </div>
                                                <div id="see-more-bs" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        {% if best_sellers %}
                                                            <table class="table table-striped">
                                                                <thead>
                                                                    <td>نام محصول</td>
                                                                    <td>دسته بندی</td>
                                                                    <td>قیمت</td>
                                                                    <td>تراز مالی</td>
                                                                </thead>
                                                                <tbody>
                                                                    {% for bs in best_sellers %}
                                                                        <tr>
                                                                            <td>{{ bs.name }}</td>
                                                                            <td>{{ bs.category }}</td>
                                                                            <td>{{ bs.real_value }}</td>
                                                                            <td>{{ bs.total_bought }}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        {% else %}
                                                            محصول دیگری موجود نیست.
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="most-popular" style="margin-top:10px;">
                                        <div class="row">
                                            <h3 class="section-header">سه محصول برتر</h3>
                                            {%  for prod in most_popular3 %}
                                                <div class="col-lg-4">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-body">
                                                            <a href="/shop/product/{{ prod.pk }}">
                                                            <img class="prod-img" src="{{ prod.small_image.url }}" style="width:100%" width="155px" height="155px">
                                                            </a>
                                                            <a href="/shop/product/{{ prod.pk }}"><h5>{{ prod.name }}</h5></a>
                                                            <table class="table">
                                                                <tr>
                                                                    <td>تقاضا</td>
                                                                    <td>{{ prod.total_order }} عدد</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>امتیاز</td>
                                                                    <td>{{ prod.round_rate }}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="panel-group" id="more-mp">
                                            <div class="panel panel-default see-more">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#more-mp" href="#see-more-mp">باقی محصولات</a>
                                                    </h4>
                                                </div>
                                                <div id="see-more-mp" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        {% if most_popular %}
                                                            <table class="table table-striped">
                                                                <thead>
                                                                    <td>نام محصول</td>
                                                                    <td>دسته بندی</td>
                                                                    <td>قیمت</td>
                                                                    <td>تقاضا</td>
                                                                </thead>
                                                                <tbody>
                                                                    {% for bs in most_popular %}
                                                                        <tr>
                                                                            <td>{{ bs.name }}</td>
                                                                            <td>{{ bs.category }}</td>
                                                                            <td>{{ bs.real_value }}</td>
                                                                            <td>{{ bs.total_order }} عدد</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        {% else %}
                                                            محصول دیگری موجود نیست.
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="user-report" class="tab-pane fade">
                        <div class="panel panel-primary" style="min-height:480px">
                            <div class="panel-heading"><h3 class="panel-title">گزارش کاربران</h3></div>
                            <div class="panel-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="col-lg-offset-1"><h4>تعداد کل کاربران</h4></td>
                                            <td>{{ user_num }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-offset-1"><h4>مسئول ویترین</h4></td>
                                            <td>{{ sh_manager.name }}</td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-offset-1"><h4>مسئول انبار</h4></td>
                                            <td>{{ wh_manager.name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h3 class="section-header">فعال ترین کاربران</h3>
                                <ul class="nav nav-pills nav-justified" role="tablist">
                                    <li class="active"><a href="#best-buy" role="tab" data-toggle="tab">بیشترین خرید</a></li>
                                    <li><a href="#most-order" role="tab" data-toggle="tab">بیشترین سفارش</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="best-buy" style="margin-top:10px">
                                        {% if best_buy %}
                                            <table class="table table-striped">
                                                <thead>
                                                    <td>رتبه</td>
                                                    <td>نام کاربری</td>
                                                    <td>نام</td>
                                                    <td>تراز مالی</td>
                                                </thead>
                                                <tbody>
                                                {% for user in best_buy %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ user.username }}</td>
                                                        <td><a style="color:#2c3e50;" href="/shop/user/{{ user.pk }}">{{ user.name }}</a></td>
                                                        <td>{{ user.total_spent }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endif %}
                                    </div>
                                    <div class="tab-pane" id="most-order" style="margin-top:10px">
                                        {% if most_order %}
                                            <table class="table table-striped">
                                                <thead>
                                                    <td>رتبه</td>
                                                    <td>نام کاربری</td>
                                                    <td>نام</td>
                                                    <td>تعداد سفارش</td>
                                                </thead>
                                                <tbody>
                                                {% for user in most_order %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ user.username }}</td>
                                                        <td>{{ user.name }}</td>
                                                        <td>{{ user.total_order }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="wh-report" class="tab-pane fade">
                        <div class="panel panel-primary" style="min-height:480px">
                            <div class="panel-heading"><h3 class="panel-title">گزارش موجودی انبار</h3></div>
                            <div class="panel-body">
                                <div class="row">
                                    <table class="table overview">
                                        <tbody>
                                            <tr>
                                                <td class="col-lg-offset-1"><h4>تعداد کل موجودی انبار</h4></td>
                                                <td>{{ total_stock }}</td>
                                            </tr>
                                            <tr>
                                                <td class="col-lg-offset-1"><h4>ارزش کل اقلام موجود</h4></td>
                                                <td>{{ total_value }}   تومان</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <h3 class="section-header">لیست اقلام موجود</h3>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <td>نام</td>
                                            <td>دسته</td>
                                            <td>موجودی</td>
                                            <td>قیمت</td>
                                            <td>تخفیف</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for prod in prods %}
                                            <tr>
                                                <td>
                                                    <a class="alt-link" href="/shop/product/{{ prod.pk }}">{{ prod.name }}</a>
                                                </td>
                                                <td>{{ prod.category }}</td>
                                                {% ifequal prod.number 0 %}
                                                    <td>نداریم</td>
                                                {% else %}
                                                    <td>{{ prod.number }}</td>
                                                {% endifequal %}
                                                <td>{{ prod.price }}</td>
                                                <td>{{ prod.offPercent }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}