{% extends "base.html" %}
{% block extra_css  %}
    <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet">
{% endblock %}
{% block title %}  {% endblock %}
{% block content %}
    {% block slideshow %}
        <div class="row">
            <div class="col-lg-offset-3  col-lg-6">
                <div id="carousel-main" class="carousel slide" data-ride="carousel" data-interval="5000">
                    <!-- INDICATORS -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
                        {% for i in range %}
                            <li data-target="#carousel-main" data-slide-to="{{ i }}"></li>
                        {% endfor %}
                    </ol>
                    <!-- SLIDE WRAPPERS -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div style="position: absolute; z-index: 100; width: 100%">
                                <h1 class="ribbon">
                                    <strong class="ribbon-content">{{ slides.first.offPercent }} درصد تخفیف</strong>
                                </h1>
                            </div>
                            <img style="height: 300px;" src="{{ slides.first.small_image.url }}" alt="{{ slides.first.name }}"/>

                            <div class="carousel-caption" style="background-color: rgba(51,51,51,0.9);">
                                <a href=/shop/product/{{ slides.first.id }}>
                                    <div style="font-size: 2em; color: white">{{ slides.first.name }}</div>
                                </a>
                            </div>
                        </div>
                        {% for slide in slides %}
                            {% if slide != slides.first %}
                                <div class="item">
                                    <div style="position: absolute; z-index: 100; width: 100%">
                                        <h1 class="ribbon">
                                            <strong class="ribbon-content">{{ slide.offPercent}} درصد تخفيف</strong>
                                        </h1>
                                    </div>
                                    <img style="height: 300px;" src="{{ slide.small_image.url }}" alt="{{ slide.name }}"/>

                            <div class="carousel-caption" style="background-color: rgba(51,51,51,0.9);">
                                <a href=/shop/product/{{ slide.id }}>
                                    <div style="font-size: 2em; color: white">{{ slide.name }}</div>
                                </a>
                            </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- CONTROLLERS -->
                    <a class="left carousel-control" href="#carousel-main" data-slide="next">
                        <i class="fa fa-arrow-left fa-3"></i>
                    </a>
                    <a class="right carousel-control" href="#carousel-main" data-slide="prev">
                        <i class="fa fa-arrow-right fa-3"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            <div class="page-header" style="border-color: #a0a0a0">
                <h2>
                    پرفروش‌ترین‌ها
                </h2>
            </div>
            </div>
        </div>
        <div class="row">
            {% for favorite in favorites %}
                <div class="col-lg-2">
                    <div class="panel panel-primary prod-thumb">
                        <div class="panel-body">
                            <a href=/shop/product/{{ favorite.id }}>
                             <img class="prod-img" src="{{ favorite.small_image.url }}" style="width: 100%; height: 123px; margin-bottom: 0px;">
                            </a>
                            <div dir="ltr" style="text-align: right;">
                                <input data-rate="{{ favorite.rate }}" class="average-rate">
                            </div>
                            <a href=/shop/product/{{ favorite.id }}><h5>{{ favorite.name }}</h5></a>

                            {% if favorite.offPercent %}
                            <del><span>{{ favorite.price }}</span></del>
                            <strong style="color: red"><span>{{ favorite.real_value|floatformat:0 }}</span><span> تومان</span></strong>
                            {% else %}
                            <span>قیمت: </span><span>{{ favorite.price }}</span><span> تومان</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12" >
            <div class="page-header" style="border-color: #a0a0a0">
                <h2>
جدیدترین‌ها
                </h2>
            </div>
            </div>
        </div>
        <div class="row">
            {% for recent in recents %}
                <div class="col-lg-2">
                    <div class="panel panel-primary prod-thumb">
                        <div class="panel-body">
                            <a href=/shop/product/{{ recent.id }}>
                                <img class="prod-img"  src="{{ recent.small_image.url }}" style="width: 100%; height: 123px">
                            </a>
                            <div dir="ltr" style="text-align: right;">
                                <input data-rate="{{ recent.rate }}" class="average-rate">
                            </div>
                            <a href=/shop/product/{{ recent.id }}><h5>{{ recent.name }}</h5></a>

                            {% if recent.offPercent %}
                            <del><span>{{ recent.price }}</span></del>
                            <strong style="color: red"><span>{{ recent.real_value|floatformat:0 }}</span><span> تومان</span></strong>
                            {% else %}
                            <span>قیمت: </span><span>{{ recent.price }}</span><span> تومان</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
{% endblock%}

{% block bottom  %}
  <script src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}

{% block query %}
    ""
{% endblock %}