{% extends "base.html" %}
{% block extra_css  %}
    <link href="{{ STATIC_URL }}css/login.css" rel="stylesheet">
{% endblock %}
{% block extra_js  %}
{% endblock %}
{% block title %} {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">ثبت نام</h3>
                </div>
                <div class="panel-body">
                    {% block signup_form %}
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for field in signup_form %}
                                <div class="field-label"></div>
                                <div class="error-label">{{ field.errors }}</div>
                                <div class="field-label">{{ field.label }}</div>
                                <div class="field-input">{{ field }}</div>
                            {% endfor %}
                            <div class="field-label"></div>
                            <input type="submit" class="btn btn-primary submit-btn field-input" value="ثبت نام"/>
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">ورود به سایت</h3>
                </div>
                <div class="panel-body">
                    {% block login_form %}
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for field in login_form.visible_fields %}
                                <div class="field-label"></div>
                                <div class="error-label">{{ field.errors }}</div>
                                <div class="field-label">{{ field.label }}</div>
                                <div class="field-input">{{ field }}</div>
                            {% endfor %}
                            {% for field in login_form.hidden_fields %}
                                <div style="display: none;">{{ field }}</div>
                            {% endfor %}
                            <div class="field-label"></div>
                            <input type="submit" class="btn btn-primary submit-btn field-input" value="ورود" />
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}