{% extends "base.html" %}
{% block extra_css  %}
    <link href="{{ STATIC_URL }}css/prod.css" rel="stylesheet">
{% endblock %}
{% block extra_js  %}
{% endblock %}
{% block content %}

    <div class="row">
      <div class="col-lg-7 col-lg-offset-1" style="padding: 0px">
        <div class="panel panel-primary prod-detail">
          <div class="panel-body">


            <div class="table-responsive" >
                <table class="table table-bordered table-striped"style="width: 100%; margin-top: 0px;">
                  <tbody>
                    <tr>
                      <td><h1>{{ product.name }}</h1></td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" style="margin-top: 0px;margin-bottom: 0px;">
                  <colgroup>
                    <col class="col-xs-1">
                    <col class="col-xs-4">
                  </colgroup>
                  <tbody>
                    <tr>
                      <td>نوع محصول</td>
                      <td>{{ product.category }}</td>
                    </tr>
                    <tr>
                      <td>پدیدآورنده</td>
                      <td>{{ product.creator }}</td>
                    </tr>
                    <tr>
                      <td>امتیاز میانگین</td>
                      <td id="rate">{{ rate|floatformat:1 }}</td>
                    </tr>
                    <tr>
                      <td>تعداد امتیازدهندگان</td>
                      <td id="rateNum">{{ rateNum }}</td>
                    </tr>
                    <tr>
                      <td>توضیحات</td>
                      <td>{{ product.description }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3"style="padding-left: 0px; padding-right: 0px;">
        <div id="product" class="panel panel-primary prod-thumb" data-id="{{ product.id }}" data-name="{{ product.name }}" data-price="{{ product.price }}">
          <div class="panel-body">

            <div dir="ltr" style="text-align: right; position: absolute; top: -5px">
                <input id="average-rate" value={{ rate }}>
            </div>
          <!--
            <span class="fa fa-star fa-5x" style="position: absolute; color: #fde16d">۲</span>
            <div id= " prod-rate " style="position: absolute; font-size: 3em">۲</div>-->
            <img class="prod-img" data-toggle="modal" data-target="#myModal" src= "{{ product.small_image.url }}" style="cursor: pointer;">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <div style="text-align: center">
                      <img src=' {{ product.small_image.url }}' style="height: 500px; max-width: 500px">
                    </div>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="well well-sm prod-price">
                {% if product.offPercent %}
                <span>قیمت: </span><del><span>{{ product.price }}</span><span> تومان</span></del>
                <strong style="color: red"><span>{{ product.real_value|floatformat:0 }}</span><span> تومان</span></strong>
                {% else %}
                <span>قیمت: </span><span>{{ product.price }}</span><span> تومان</span>
                {% endif %}

            </div>
            {% ifequal user.status 'CU'%}
                {% if product.availability %}
                    {% ifnotequal product.number 0 %}
                    <button id="addToCart" type="button" class="btn btn-primary btn-block" ><i class="fa fa-shopping-cart"></i> اضافه به سبد خرید </button>
                    {% else %}
                    <div class="btn btn-primary btn-block" disabled >این محصول تمام شده</div>
                    {% endifnotequal %}
                {% else %}
                    <div class="btn btn-primary btn-block" disabled >این محصول حذف شده.</div>
                {% endif %}
            {% else %}
            <button id="logintoadd" type="button" class="btn btn-primary btn-block" ><i class="fa fa-arrow-left"></i> ورود به عنوان خریدار</button>
            {% endifequal %}
          {% if not user.is_anonymous %}
            <div dir="ltr" style="text-align: right">
                <input id="user-rate" data-show-caption="true" data-show-clear="true" data-size="xs" data-rtl="true"
                       {% if hasRated %}value="{{ hisRate }}" {% endif %}>
            </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1" id="comments-col">
        <button type="button" class="btn btn-primary" data-toggle="collapse" href="#comments">
          <i class="fa fa-angle-double-down"></i> نظرات کاربران
        </button>
        <div class="panel panel-default">
          <div id="comments" class="panel-collapse collapse">
            <div id="commentsList" class="panel-body">
              {% if not user.is_anonymous %}
              <div id="newcomment" class='panel panel-default'>
                <div class='panel-body'>

                        <form role="form">
                          <div class="form-group">
                              <label for="commentInput">متن نظر: </label>
                              <textarea id ="commentInput" class="form-control input-sm" rows="3"></textarea>
                          </div>
                          <button type="button" onclick="addNewComment()" class="btn btn-success">بفرست</button>
                        </form>
                </div>
              </div>
              {% endif %}
            {% for comment in comments %}
                <div id="comment{{ forloop.counter0 }}"class='panel panel-success' hidden>
                    <div class='panel-heading'>
                        {{ comment.owner.name }}
                        <span class="pull-left">{{ comment.time|date:'F j, Y, P' }}</span>
                    </div>
                    <div class='panel-body'>
                        {{ comment.context }}
                    </div>
                </div>
            {% endfor %}
            <div id="commentNum" hidden>{{ comments.count }}</div>
            <a id="showMore" onclick="showComments()">
                نمایش نظرات قدیمی تر...
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock%}

{% block bottom  %}
  <script src="{{ STATIC_URL }}js/prod.js"></script>
  <script src="{{ STATIC_URL }}js/rating.js"></script>
{% endblock %}