{% extends "base.html" %}
{% block extra_css  %}
    <link href="{{ STATIC_URL }}css/prod-list.css" rel="stylesheet">
{% endblock %}
{% block extra_js  %}
  <script src="{{ STATIC_URL }}js/jquery.bootpag.min.js"></script>
{% endblock %}
{% block content %}
    <div class="products-title">
    </div>
    <div class="row" id="prods0">

    </div>
    <div class="row" id="prods1">

    </div>
    <div class="row">
        <div class="col-lg-12">
          <div style="text-align: center" id="kooft">
              <ul class="pagination" style="margin:auto">
              </ul>
          </div>
        </div>
    </div>
    <div class="col-lg-2" id="sample-prod" style="display: none">
          <div class="panel panel-primary prod-thumb">
            <div class="panel-body">
                <a class="imglink">
                    <img class="prod-img" src="" style="width: 100%; height: 123px; margin-bottom: 0px;">
                </a>
                <div dir="ltr" style="text-align: right;">
                    <input class="average-rate">
                </div>
                <a class="namelink" href=""><h5></h5></a>
                <div class="price"></div>
<!--
                {% ifequal user.status 'CU' %}
                <button id="addToCart" type="button" class="btn btn-primary btn-block" ><i class="fa fa-shopping-cart"></i> اضافه به سبد خرید </button>
                {% endifequal %}-->
            </div>
          </div>
        </div>
{% endblock%}

{% block bottom  %}
  <script src="{{ STATIC_URL }}js/prod-list.js"></script>
{% endblock %}