{% extends "base.html" %}
{% block extra_css  %}
    <link href="{{ STATIC_URL }}css/profile.css" rel="stylesheet">
{% endblock %}
{% block extra_js  %}
    <script src="{{ STATIC_URL }}js/jquery.jqplot.min.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.pointLabels.min.js"></script>
    <script src="{{ STATIC_URL }}js/jqplot.barRenderer.min.js"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3 col-lg-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">{{ user.name }}</h3></div>
            <div class="panel-body">
                <div>
                    <img src="{{ STATIC_URL }}images/default.png" class="img-thumbnail" id="prodImg" width="300px" height="300px">
                </div>
                <ul class="nav nav-pills nav-stacked" >
                    <li {% if active == 1 %}class="active"{% endif %}><a data-toggle="tab" href="#cats">مدیریت دسته‌بندی‌ها</a></li>
                    <li {% if active == 2 %}class="active"{% endif %}><a data-toggle="tab" href="#new-prod">محصول جدید</a></li>
                    <li {% if active == 3 %}class="active"{% endif %}><a data-toggle="tab" href="#my-prods">لیست محصولات</a></li>
                    <li {% if active == 4 %}class="active"{% endif %}><a data-toggle="tab" href="#transactions">گزارش خرید</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
    <div class="panel-group" id="accordion">
        <div class="tab-content">
            <div id="cats" class="tab-pane fade {% if active == 1 %}active in{% endif %}">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3 class="panel-title">ویرایش دسته‌بندی‌ها</h3></div>
                    <div class="panel-body edit-cat" style="min-height: 432px">
                    {% ifnotequal edit_cat_message '' %}
                    <div class="alert alert-warning" role="alert">
                      <strong>توجه! </strong> {{ edit_cat_message }}
                    </div>
                    {% endifnotequal %}
                    {% ifnotequal edit_cat_form ''%}
                    <form enctype="multipart/form-data" action="/shop/profile/editCategory/{{ edit_cat_id }}" method="get">
                                {% for field in edit_cat_form %}
                                    <div class="field-label">
                                        {{ field.label_tag }}
                                    </div>
                                    <div class="field-input">
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                <p>
                                    <input type="submit" class="btn btn-primary submit-btn" value="ذخیره کن"/>
                                </p>
                    </form>
                    {% else %}
                        <div class="list-group">
                        <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            افزودن دسته‌ی جدید
                        </h4>
                        <hr>
                        <form enctype="multipart/form-data" action="/shop/profile/addNewCategory" method="get">
                                {% for field in new_cat_form %}
                                    <div class="field-label">
                                        {{ field.label_tag }}
                                    </div>
                                    <div class="field-input">
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                <p>
                                    <input type="submit" class="btn btn-primary submit-btn" value="اضافه کن"/>
                                </p>
                        </form>
                        </div>
                        <div class="list-group-item">
                        <h4 class="list-group-item-heading">
حذف یک دسته
                        </h4>
                        <hr>
                        <form enctype="multipart/form-data" action="/shop/profile/removeCategory" method="get">
                                {% for field in remove_cat_form %}
                                    <div class="field-label">
                                        {{ field.label_tag }}
                                    </div>
                                    <div class="field-input">
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                <p>
                                    <input type="submit" class="btn btn-primary submit-btn" value="حذف کن"/>
                                </p>
                        </form>
                        </div>
                        <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            ویرایش یک دسته
                        </h4>
                        <hr>
                        <form enctype="multipart/form-data" action="/shop/profile/selectCategory" method="get">
                                {% for field in remove_cat_form %}
                                    <div class="field-label">
                                        {{ field.label_tag }}
                                    </div>
                                    <div class="field-input">
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                <p>
                                    <input type="submit" class="btn btn-primary submit-btn" value="ویرایش"/>
                                </p>
                            </form>
                        </div>
                        </div>
                    {% endifnotequal %}
                    </div>
                </div>
            </div>
            <div id="new-prod" class="tab-pane fade{% if active == 2 %} active in{% endif %}">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3 class="panel-title">اضافه کردن محصول جدید</h3></div>
                    <div class="panel-body" style="min-height: 432px">
                        {% block product_form %}
                            {% if add_new_prod_success == 1 %}
                                <div class="col-lg-12">
                                    <div class="alert alert-dismissable alert-success">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <strong> تبریک! </strong>
                                        فرم با موفقیت ارسال شد
                                    </div>
                                </div>
                            {% elif add_new_prod_success == -1 %}
                                <div class="col-lg-12">
                                    <div class="alert alert-dismissable alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <strong> متاسفیم!</strong>
                                        خاطاهای زیر در فرم ارسالی رخ داده است.
                                    </div>
                                </div>
                            {% endif %}
                            <form enctype="multipart/form-data" action="/shop/profile/newProduct" method="post">
                                {% csrf_token %}
                                {% for field in new_prod_form %}
                                    <div class="field-label"></div>
                                    <div class="error-label">
                                        {{ field.errors }}
                                    </div>
                                    <div class="field-label">
                                        {{ field.label_tag }}
                                    </div>
                                    <div class="field-input">
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                <p>
                                    <input type="submit" class="btn btn-primary submit-btn" value="بفرست"/>
                                    <input type="button" class="btn btn-success new-form" value="فرم جدید"/>
                                </p>
                            </form>
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div id="my-prods" class="tab-pane fade{% if active == 3 %} active in{% endif %}">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3 class="panel-title">محصولات فروشگاه</h3></div>
                    <div class="panel-body" style="min-height: 432px">
                        <div class="row" id="active-my-prods">
                        {% for prod in products %}
                            <div id="prod{{ prod.pk }}" class="col-lg-4 prod-panel">
                                <div class="panel panel-primary prod-thumb">
                                    <div class="panel-body">
                                        <a href="/shop/product/{{ prod.pk }}">
                                        <img class="prod-img" src="{{ prod.small_image.url }}" style="width:100%" width="155px" height="155px">
                                            </a>
                                        <a href="/shop/product/{{ prod.pk }}"><h5>{{ prod.name }}</h5></a>
                                        {% if prod.availability %}
                                        <button type="button" class="btn btn-danger btn-sm delete-prod" onclick="location.href='/shop/remove/{{ prod.pk }}'" data-toggle="tooltip" data-placement="bottom" title="حذف از ویترین فروشگاه"><i class="fa fa-times fa-lg"></i></button>
                                        {% else %}
                                        <button type="button" class="btn btn-success btn-sm delete-prod" onclick="location.href='/shop/undoRemove/{{ prod.pk }}'" data-toggle="tooltip" data-placement="bottom" title="افزودن به ویترین فروشگاه"><i class="fa fa-plus fa-lg"></i></button>
                                        {% endif %}
                                        <button type="button" class="btn btn-primary btn-sm edit-prod" onclick="location.href='/shop/edit/{{ prod.pk }}'"><i class="fa fa-pencil-square-o fa-lg"></i> ویرایش</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="transactions" class="tab-pane fade{% if active == 4 %} active in{% endif %}">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3 class="panel-title">گزارش خرید</h3></div>
                    <div class="panel-body" style="min-height: 432px">
                    <ul class="nav nav-pills nav-justified">
                        <li class="active"><a id="dateview" data-toggle="tab" href="#">تاریخ</a></li>
                        <li ><a id="prodview" data-toggle="tab" href="#">محصول</a></li>
                        <li ><a id="chartview" data-toggle="tab" href="#">نمودارها</a></li>
                    </ul>
                        <div id="date-list" style="margin-top: 15px;">
                            <table class="table">
                                  <thead>
                                    <tr>
                                      <th>نام محصول</th>
                                      <th>نام خریدار</th>
                                      <th>تاریخ خرید</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                {% for buy in date_buys %}
                                    <tr>
                                      <td><a href="/shop/product/{{ buy.product.id }}">{{ buy.product.name }}</a></td>
                                      <td>{{ buy.bill.customer.name }}</td>
                                      <td>{{ buy.bill.time }}</td>
                                    </tr>
                                {% endfor %}
                                  </tbody>
                            </table>
                        </div>
                        <div id="prod-list" hidden style="margin-top: 15px;">
                            <div class="panel-group" id="bills">
                                    {% for prod in allproducts %}
                                    <div class="panel panel-default">
                                      <div class="panel-heading">
                                        <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#bills" href="#collapse{{ prod.id }}" class="">
                                            {{ prod.name}}
                                              <span class="pull-left">{{ prod.num }}</span>
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapse{{ prod.id }}" class="panel-collapse collapse" style="height: auto;">
                                        <div class="panel-body">
                                            <table class="table">
                                                  <thead>
                                                    <tr>
                                                      <th>نام خریدار</th>
                                                      <th>تاریخ خرید</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                {% for buy in prod.buys %}
                                                    <tr>
                                                      <td>{{ buy.bill.customer.name }}</td>
                                                      <td>{{ buy.bill.time }}</td>
                                                    </tr>
                                                {% endfor %}
                                                  </tbody>
                                            </table>
                                        </div>
                                      </div>
                                    </div>
                                    {% endfor %}
                                </div>
                        </div>
                        <div id="charts" hidden style=" width: 80%; margin: auto;">
                            <div id="chart1" style="direction: ltr; margin-top: 20px; margin-left: 20px; position: relative;" class="jqplot-target">
                            </div>
                            <div id="chart2" style=" margin-top: 20px; margin-left: 20px; position: relative;" class="jqplot-target">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


{% endblock%}
{% block bottom %}
    <script src="{{ STATIC_URL }}js/profile.js"></script>
    <script src="{{ STATIC_URL }}js/charts.js"></script>
{% endblock %}