{% extends "base.html" %}
{% block extra_css  %}
    <link href="{{ STATIC_URL }}css/user.css" rel="stylesheet">
{% endblock %}
{% block extra_js  %}
    <script src="{{ STATIC_URL }}js/user.js"></script>
{% endblock %}
{% block content %}
    {% ifequal user.status "CU" %}
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="panel panel-primary info-panel">
                    <div class="panel-heading"><h3 class="panel-title">اطلاعات کاربر</h3></div>
                    <div class="panel-body">
                        <div class="row detail-row">
                            <div class="col-lg-3 title"><strong>نام</strong></div>
                            <div class="col-lg-8 detail">{{ user.name }}</div>
                        </div>
                        <div class="row detail-row">
                            <div class="col-lg-3 title"><strong>نام کاربری</strong></div>
                            <div class="col-lg-8 detail">{{ user.username }}</div>
                        </div>
                        <div class="row detail-row">
                            <div class="col-lg-3 title"><strong>شماره تماس</strong></div>
                            <div class="col-lg-8 detail">{{ user.tel }}</div>
                        </div>
                        <div class="row detail-row">
                            <div class="col-lg-3 title"><strong>رایانامه</strong></div>
                            <div class="col-lg-8 detail">{{ user.email }}</div>
                        </div>
                        <div class="row detail-row">
                            <div class="col-lg-3 title"><strong>نشانی</strong></div>
                            <div class="col-lg-8 detail">{{ user.address }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     {% else %}
        <div class="row">
            <div><h2 style="width:100%; text-align:center;">دسترسی به این صفحه برای شما امکان پذیر نیست.</h2></div>
            <div><h2 style="width:100%; text-align:center;">{{ user.status }}</h2></div>
        </div>
    {% endifequal %}
{% endblock %}