{% extends "base.html" %}
{% block extra_css  %}
    <link href="{{ STATIC_URL }}css/wm_profile.css" rel="stylesheet">
{% endblock %}
{% block extra_js  %}
    <script src="{{ STATIC_URL }}js/wm_profile.js"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-3 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title" style="text-align: center;">پنل مدیریت انبار</h3></div>
                <div class="panel-body">
                    <div>
                        <img src="{{ STATIC_URL }}images/default.png" class="img-thumbnail" id="userImg" width="300px" height="300px">
                    </div>
                    <ul class="nav nav-pills nav-stacked" >
                        <li class="active"><a data-toggle="tab" href="#add-product">افزایش محصول</a></li>
                        <li><a data-toggle="tab" href="#new-order">پیگیری سفارش های جدید</a></li>
                        <li><a data-toggle="tab" href="#package-rep">وضعیت بسته های ارسالی</a></li>
                        <li><a data-toggle="tab" href="#sent-back">مرسولات مرجوعی</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel-group" id="acardion">
                <div class="tab-content">
                    <div id="add-product" class="tab-pane fade active in">
                        <div class="panel panel-primary" style="min-height:480px">
                            <div class="panel-heading"><h3 class="panel-title">افزایش موجودی محصولات</h3></div>
                            <div class="panel-body">
                                <div class="row">
                                    {% for prod in products %}
                                        <div class="col-lg-4">
                                            <div class="panel panel-primary">
                                                <div class="panel-body">
                                                    <a href="/shop/product/{{ prod.pk }}">
                                                    <img class="prod-img" src="{{ prod.small_image.url }}" style="width:100%" width="155px" height="155px">
                                                    </a>
                                                    <a href="/shop/product/{{ prod.pk }}"><h5>{{ prod.name }}</h5></a>
                                                    <div class="number-box">تعداد : {{ prod.number }}</div>
                                                    <form class="form-inline" role="prod_manipulation">
                                                        <div class="form-group input-holder">
                                                            <input type="text" class="form-control num-input" id="prod{{ prod.pk }}" placeholder="تعداد">
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" class="btn btn-info btn-sm add-prod" onclick="addProd(event)"><i class="fa fa-plus fa-lg"></i></button>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" class="btn btn-danger btn-sm min-prod" onclick="minProd(event)"><i class="fa fa-minus fa-lg"></i></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="new-order" class="tab-pane fade">
                        <div class="panel panel-primary" style="min-height:480px">
                            <div class="panel-heading"><h4 class="panel-title">پیگیری سفارش های جدید</h4></div>
                            <div class="panel-body">
                                <div class="panel-group" id="accordion1">
                                    {% for pbill in pend_bills %}
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <a class="btn btn-sm btn-custom" href="/shop/user/{{ pbill.customer.pk }}">
                                                            <i class="fa fa-user"></i> {{pbill.customer.name}}
                                                        </a>
                                                    </div>
                                                    <div class="col-md-4"><h5 class="text-primary">{{ pbill.time }}</h5></div>
                                                    <div class="col-md-4">
                                                        <span id="accbill{{ pbill.pk }}" class="btn btn-sm btn-primary btn-taeid" onclick="accBill(event)">تایید خرید</span>
                                                        <a class="btn btn-sm btn-custom" data-toggle="collapse" data-parent="#accordion1" href="#collapse{{ pbill.pk }}">
                                                            <i class="fa fa-caret-square-o-down fa-lg"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-collapse collapse" id="collapse{{ pbill.pk }}">
                                                <div class="panel-body">
                                                    <div class="row" style="border-bottom: 2px solid black;">
                                                        <div class="col-lg-6"><h4>نام محصول</h4></div>
                                                        <div class="col-lg-3"><h4>تعداد</h4></div>
                                                        <div class="col-lg-3"><h4>قیمت</h4></div>
                                                    </div>
                                                    {% for buy in pbill.buys %}
                                                        <div class="row">
                                                            <div class="col-lg-6">{{ buy.product }}</div>
                                                            <div class="col-lg-3">{{ buy.number }}</div>
                                                            <div class="col-lg-3">{{ buy.product.real_value }}</div>
                                                        </div>
                                                    {% endfor %}
                                                    <div class="row" style="border-top:1px solid black;">
                                                        <div class="col-lg-9"><h5>مجموع</h5></div>
                                                        <div class="col-lg-3"><h5>{{ pbill.sum }}</h5></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="package-rep" class="tab-pane fade">
                        <div class="panel panel-primary" style="min-height:480px">
                            <div class="panel-heading"><h3 class="panel-title">وضعیت بسته های ارسال شده</h3></div>
                            <div class="panel-body">
                                <div class="panel-group" id="accordion2">
                                    <div class="panel panel-default" hidden="true" id="rej-rec-tmplt">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-md-3"></div>
                                                <div class="col-md-4"></div>
                                                <div class="col-md-5">
                                                    <span id="recBill" style="width:41%" class="btn btn-success btn-sm" onclick="recBill(event)">دریافت گشت</span>
                                                    <span id="rejBill" style="width:41%" class="btn btn-danger btn-sm" onclick="rejBill(event)">مرجوع شد</span>
                                                    <a style="width:15%;" class="btn btn-sm btn-custom pull-left" data-toggle="collapse" data-parent="#accordion2" href="#collapse">
                                                            <i class="fa fa-caret-square-o-down fa-lg"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-collapse collapse">
                                            <div class="panel-body"></div>
                                        </div>
                                    </div>
                                    {% for sbill in sent_bills %}
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <a class="btn btn-sm btn-custom" href="/shop/user/{{ sbill.customer.pk }}">
                                                            <i class="fa fa-user"></i> {{sbill.customer.name}}
                                                        </a>
                                                    </div>
                                                    <div class="col-md-4"><h5 class="text-primary">{{ sbill.time }}</h5></div>
                                                    <div class="col-md-5">
                                                        <span id="recbill{{ sbill.pk }}" style="width:41%;" class="btn btn-success btn-sm" onclick="recBill(event)">دریافت گشت</span>
                                                        <span id="rejbill{{ sbill.pk }}" style="width:41%;" class="btn btn-danger btn-sm" onclick="rejBill(event)">مرجوع شد</span>
                                                        <a style="width:15%;" class="btn btn-sm btn-custom pull-left" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ sbill.pk }}">
                                                            <i class="fa fa-caret-square-o-down fa-lg"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-collapse collapse" id="collapse{{ sbill.pk }}">
                                                <div class="panel-body">
                                                    <div class="row" style="border-bottom: 2px solid black;">
                                                        <div class="col-lg-6"><h4>نام محصول</h4></div>
                                                        <div class="col-lg-3"><h4>تعداد</h4></div>
                                                        <div class="col-lg-3"><h4>قیمت</h4></div>
                                                    </div>
                                                    {% for buy in sbill.buys %}
                                                        <div class="row">
                                                            <div class="col-lg-6">{{ buy.product }}</div>
                                                            <div class="col-lg-3">{{ buy.number }}</div>
                                                            <div class="col-lg-3">{{ buy.product.real_value }}</div>
                                                        </div>
                                                    {% endfor %}
                                                    <div class="row" style="border-top:1px solid black;">
                                                        <div class="col-lg-9"><h5>مجموع</h5></div>
                                                        <div class="col-lg-3"><h5>{{ sbill.sum }}</h5></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sent-back" class="tab-pane fade">
                        <div class="panel panel-primary" style="min-height:480px">
                            <div class="panel-heading"><h3 class="panel-title">لیست محصولات مرجوعی</h3></div>
                            <div class="panel-body">
                                <!-- DUMMY -->
                                <div class="panel panel-default" hidden="true" id="rej-tmplt">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-6"></div>
                                            <div class="col-md-1" style="margin-right:7%;">
                                                <a class="btn btn-sm btn-custom" data-toggle="collapse" data-parent="#accordion3" href="#collapse">
                                                    <i class="fa fa-caret-square-o-down fa-lg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                                <!-- DUMMY -->
                                <div class="panel-group" id="accordion3">
                                    {% for rbill in rej_bills %}
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <a class="btn btn-sm btn-custom" href="/shop/user/{{ rbill.customer.pk }}">
                                                            <i class="fa fa-user"></i> {{rbill.customer.name}}
                                                        </a>
                                                    </div>
                                                    <div class="col-md-6"><h5 class="text-primary">{{ rbill.time }}</h5></div>
                                                    <div class="col-md-1" style="margin-right:7%;">
                                                        <a class="btn btn-sm btn-custom" data-toggle="collapse" data-parent="#accordion3" href="#collapse{{ rbill.pk }}">
                                                            <i class="fa fa-caret-square-o-down fa-lg"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-collapse collapse" id="collapse{{ rbill.pk }}">
                                                <div class="panel-body">
                                                    <div class="row" style="border-bottom: 2px solid black;">
                                                        <div class="col-lg-6"><h4>نام محصول</h4></div>
                                                        <div class="col-lg-3"><h4>تعداد</h4></div>
                                                        <div class="col-lg-3"><h4>قیمت</h4></div>
                                                    </div>
                                                    {% for buy in rbill.buys %}
                                                        <div class="row">
                                                            <div class="col-lg-6">{{ buy.product }}</div>
                                                            <div class="col-lg-3">{{ buy.number }}</div>
                                                            <div class="col-lg-3">{{ buy.product.price }}</div>
                                                        </div>
                                                    {% endfor %}
                                                    <div class="row" style="border-top:1px solid black;">
                                                        <div class="col-lg-9"><h5>مجموع</h5></div>
                                                        <div class="col-lg-3"><h5>{{ rbill.sum }}</h5></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}