html{
}
:hover {
 cursor:default;
}

.rating-disabled {
cursor: default !important;
}

a:hover, a>*:hover, button:hover, button>*:hover{
    cursor: pointer;
}

body{
	font-family: "B Yekan" !important;
	background-color: #ecf0f1;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, transparent 75%, transparent);
	background-size: 10px 10px;
}

.info{
    top: 61px;
    right: 97px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    line-height: 1.8em;
}
.main-container{
	margin-top:55px;
    padding: 0px;
}

.sub-container{
	padding-top: 18px;
    margin-bottom: 2em;
    background-color: rgba(236, 240, 241, 1);
    margin-top: 0px;
    box-shadow: 0 5px 5px #888;
    padding-bottom: 2em;
}

.cart{
	position: absolute;
	top: 101%;
  	right: 0;
  	border: 0px;
  	z-index: 1000;
 	float: right;
  	min-width: 360px;
}

.sub-cat{
	margin-right: 10px !important;
	width: 19%;
}

.cat-list{
	min-height: 140px;
	width: 98%;
	right: 1%;
	opacity: 0.99;
	background-color: #f9f9f9
}

.cat-nav{
	border-top: 1px solid #a0a0a0;
	border-bottom: 1px solid #a0a0a0;
	font-size: 1.3em;
}

.panel{
    background-color: #fefefe;
    border-color: #bbbbbb;
}

.logo-wrapper
{
    width: 448px;
    height: 100px;
    margin: auto;
    margin-bottom: -5px;
}