textarea{
    width: 100%;
}
.field-label
{
    display:inline-block;
    width: 30%;
    padding-right: 5%;
    padding-left: 5%
}

.field-input
{
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    display:inline-block;
    margin-left: 5%;
    width: 55%;
}