.field-label
{
    font-weight: bold;
    font-size: 1.05em;
}

.detail-row
{
    padding-bottom: 2%;
    padding-top: 2%;
    border-bottom: 1px solid whitesmoke;
}

.edit-row
{
    padding-bottom: 2%;
    padding-top: 2%;
}

.edit-field > input
{
    width: 100%;
}

.edit-field > textarea
{
    width: 100%;

}

.edit-buttons
{
    margin-top: 2%;
}