.overview td
{
    width:50%;
}

.prod-info
{
    margin-right: 0px;
    padding-right: 0px;
}

.section-header
{
    padding-right: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid silver;
}

.see-more
{
    margin-top: 15px;
}

.alt-link
{
    color: #2c3e50;
}