.circle {
	border-radius: 50%;
	width: 20px;
	height: 20px;
    background-color: #FF4484;
    position: absolute;
    z-index: 100;
}
.ribbon2 {
 font-size: 10px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 68%;

 position: relative;
 background: #ba2d2e;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
    margin-top: 0;
}

.ribbon {
 font-size: 16px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 65%;

 position: relative;
 background: #ba2d2e;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 0.5em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #982f17;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #80381e transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}
.carousel-control i
{
    position: absolute;
    top: 50%;
    z-index: 50;
    display: inline-block;
}

.carousel-control
{
    z-index: 49;
}

.carousel-inner
{
}

.carousel-caption
{
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(51,51,51,0.3);
}

.carousel-inner img
{
    margin:auto;
}

.carousel-indicators
{
    bottom: 0px;
    margin-bottom: 5px !important;
}

#advanced-search
{
    height: 300px;
}