.submit-btn
{
    display: inline-block;
    width: 100%;
}

.field-input > input
{
    width: 100%;
}

form input[type="submit"],
form input[type="button"]
{
    margin-top: 20px;
}

.p-wrapper button
{
    margin-top: 0.6em;
}

.field-input > select
{
    width: 100%;
}


.errorlist
{
    padding: 0px;
}

.error-label
{
    display: inline-block;
    font-size: 11px;
    margin-left: 5%;
    width: 55%;
}

.error-label li
{
    font-size: 13px;
    font-family: "B nazanin" !important;
    display:block;
}

.field-label
{
    display:inline-block;
    width: 30%;
    padding-right: 5%;
    padding-left: 5%
}

.field-input
{
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    display:inline-block;
    margin-left: 5%;
    width: 55%;
}

.error-label .close
{
    font-size: 13px;
}

.error-label.alert
{
    margin-bottom: 0px;
    padding: 5px;
    padding-left: 30px;
}