.prod-img{
	width: 100%;
	height: 260px;
}

.prod-detail{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.prod-detail table{
	margin-top: 30px;
	width: auto;
}

.prod-name{

}
.prod-price{
	margin-top: 3%;
	margin-bottom: 3%;
}

.prod-detail table > tbody > tr > td{
	border-top: 0px;
}

.prod-thumb{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#comments-col {
	padding: 0;
}