
.products-title{
    font-size: 1.4em;
    margin-bottom: 20px;
}

.prod-img{
	width: 100%;
	float: center;
}

.prod-price{

}

.prod-thumb{
	font-size: 1em;
}

.tencolumn .span1 {width: 7.6923076923076925%;
  *width: 7.628205128205129%;}
.fivecolumn .span2 {width: 17.94871794871795%;
  *width: 17.884615384615383%; display: inline-block;}