

.fieldWrapper td
{
    padding: 0.35em;
}

.submit-btn
{
    display: inline-block;
    width: 49.5%;
}

.new-form
{
    display: inline-block;
    width: 49.5%;
}

/* FORM FIELD CSS */

.fieldWrapper{
    margin-top: 0.5em;
    margin-bottom: 1.2em;
}

.field-input > input[type="text"],[type="number"]
{
    width: 100%;
}

form input[type="submit"],
form input[type="button"]
{
    margin-top: 20px;
}

.p-wrapper button
{
    margin-top: 0.6em;
}

.field-input > select
{
    width: 100%;
}


.errorlist
{
    padding: 0px;
}

.error-label
{
    display: inline-block;
    font-size: 11px;
    margin-left: 5%;
    width: 55%;
}

.error-label li
{
    font-size: 13px;
    font-family: "B nazanin" !important;
    display:block;
}

.field-label
{
    display:inline-block;
    width: 30%;
    padding-right: 5%;
    padding-left: 5%
}

.field-input
{
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    display:inline-block;
    margin-left: 5%;
    width: 55%;
}

.error-label .close
{
    font-size: 13px;
}

.error-label.alert
{
    margin-bottom: 0px;
    padding: 5px;
    padding-left: 30px;
}

.table > tbody > tr > td{
    border-top: 0px;
}

.table {
    width: 100%;
    margin-bottom: 18px;
}

/* USER INFO */

.field-title
{
    font-weight: bolder;
}

.edit-cat
{
    font-size: 1em;
}

.model-label
{
    display:inline-block;
    width: 22%;
    padding-right: 5%;
    padding-left: 5%
}

.model-value
{
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    display:inline-block;
    margin-left: 5%;
    width: 60%;
}

/* USER'S PRODUCTS LIST */

.prod-panel
{
    margin-bottom: 30px;
}

.edit-prod
{
    width: 75%;
}

.delete-prod
{
    width: 21%;
}

.edit-cat .submit-btn
{
width: 25.6%;
margin-right: 60%;
}