.info-panel
{
    margin-top: 20px;
}

table td
{
    background-color: #fefefe;
}

.title
{
    font-size: 1.4em;
    margin-right: 15px;
}

.detail
{
    font-size:1.1em;
}

.detail-row
{
    margin-bottom:10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 5px;
}