.input-holder
{
    width: 50%;
}

.num-input
{
    height: 35px;
}

.number-box
{
    margin-bottom: 10.5px;
}

.text-default
{
    color: #FFFFFF;
}

button a
{
    color: snow;
}

.btn-taeid
{
    width: 75%;
    text-align: center;
}

.btn-custom
{
    background-color: darkcyan;
    border-color: darkcyan;
    color: snow;
}